/* GraphDialog.css */
.graph-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .dialog-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
  }
  
  .close-button {
    background-color: rgb(130, 5, 5);
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .chart-container {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    background-color: #f7f7f7;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  