/* update.css for styling update */

.container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.left-side {
  flex: 1;
  padding: 20px;
}

.right-side {
  flex: 1;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

/* Additional styles for the profile image */
#profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.ml-2 {
  margin-left: 2rem;
}

.mb-5 {
  margin-bottom: 5rem;
}
